{{#each posts as |post| }}
<div class="card col-8">
  <div class="card-body mb-12 post">
    <div class="col-md-12 bg-dark">
      <h2>
        <a class="text-white" href="/comment/{{post.id}}">{{post.title}}</a>
      </h2>
      <span class="nav justify-content-end text-white m-t-0 bg-dark">Created by {{post.user.name}} on {{format_date post.date_created}}</span>
    </div>
    <div class="col-md-12">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
</div>
{{/each}}